<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Requests</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">

          <div class="form-group row">
            <label for="search" class="col-sm-2 col-form-label" style="text-align: right">Filter Book By Title</label> 
            <div class="col-sm-6">
              <input type="text" [(ngModel)]="search_value" class="form-control" id="search">
            </div>
          </div>

          <table class="table">
            <thead class=" text-primary">
              <th>
                Student Details
              </th>
              <th>
                Book-Title
              </th>
              <th>
                Automated Return Date
              </th>
              <th>
                Action
              </th> 
            </thead>
            <!--  -->
            <tbody>
              <tr *ngFor="let obj_record  of records_list | searchBookRequest:search_value">
                <td>
                  {{ obj_record.stud_name }}
                </td>
                <td>
                  {{ obj_record.book_title }}
                </td> 
                <td>
                  {{ obj_record.auto_return_date }}
                </td> 
                <td >
                <a href="/admin/m-book-request/{{obj_record.id}}">
                  <button>Accept Request</button>
                </a>
            
                </td>
              </tr> 

            </tbody> 
            
          </table>



        </div>
      </div>
    </div>
  </div>
  
</div>
