<div class="row">
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header"> 
          <h5 *ngIf="isAddMode">Add User</h5>
          <h5 *ngIf="!isAddMode"> Book Request</h5>
        </div>

  <!-- Hidden Fields for update purposes no need -->

        <div class="card-body">
          <form #objForm="ngForm" (ngSubmit)="issue_book(objForm)"> 
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Student Details: </label> 
                  <span>
                    {{bookRequest.stud_name+ "-(Reg No.: "+bookRequest.stud_reg_no+")"}} 
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Automated Return Date: </label> 
                  <span>
                    {{bookRequest.return_date}} 
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 pr-1">
                <div class="form-group">
                  <label>Comment:</label>
                  <input type="text" [(ngModel)]="regNo"  name="regNo" class="form-control col-12"  required>
                </div>
              </div> 
            </div> 
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">Issue Book</button>
                |  
                <button type="button" class="btn btn-danger btn-round" (click)="reject_book()">Reject Book</button>
              </div>
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>