
<div class="sidebar-wrapper">
  <div class="logo">
     
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
      Library Management System
    </a>
  </div>

 
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]"> 
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
