<div class="row">
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header"> 
          <h5 *ngIf="isAddMode">Add User</h5>
          <h5 *ngIf="!isAddMode">Edit User</h5>
        </div>

  <!-- Hidden Fields for update purposes no need -->

        <div class="card-body">
          <form #objForm="ngForm" (ngSubmit)="create_update_Data(objForm)"> 
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Name</label> 
                  <input type="text" [(ngModel)]="student.name" name="name" class="form-control" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Reg No:</label>
                  <input type="text" [(ngModel)]="student.regNo"  name="regNo" class="form-control" value="" required>
                </div>
              </div> 
            </div> 
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">Save Book</button>
              </div>
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>