<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> List of Students</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">

          <div class="form-group row">
            <label for="search" class="col-sm-2 col-form-label" style="text-align: right">Search</label> 
            <div class="col-sm-6">
              <input type="text" [(ngModel)]="search_value" class="form-control" id="search">
            </div>
          </div>

          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Reg No.
              </th>
              <th>
                Action
              </th> 
            </thead>

            <tbody>
              <tr *ngFor="let obj_record  of records_list | searchStudent:search_value">
                <td>
                  {{ obj_record.name }}
                </td>
                <td>
                  {{ obj_record.regNo }}
                </td> 
                <td >
                <a href="/admin/ae-student/{{obj_record.id}}">Update</a>
                  |  
                <a href="/admin/students" class="text-danger" (click)="deleteData_ToApi(obj_record.id)" >Delete</a> 
                </td>
              </tr> 

            </tbody> 
            
          </table>



        </div>
      </div>
    </div>
  </div>
  
</div>
