<div class="row">
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header"> 
          <h5 *ngIf="isAddMode">Post New Book Details</h5>
          <h5 *ngIf="!isAddMode">Edit Book Details</h5>
        </div>

  <!-- Hidden Fields for update purposes no need -->

        <div class="card-body">
          <form #bookForm="ngForm" (ngSubmit)="saveBook(bookForm)"> 
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Title</label>
                  <!-- <input type="text" [(ngModel)]="searchBookValue" class="form-control" id="search"> -->
                 <!-- [(ngModel)]="bookTitle" -->
                  <input type="text" [(ngModel)]="book.title" name="bookTitle" class="form-control" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Publication Date:</label>
                  <input type="text" [(ngModel)]="book.publication_date"  name="pubDate" class="form-control" value="" required>
                </div>
              </div> 
            </div> 
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" >Save Book</button>
              </div>
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>