<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.creative-tim.com">
                        LibInfoMs
                    </a>
                </li>
                
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{  test | date: 'yyyy'}}, 
            Designed
             by Stephen-MITE Class, 2020
        </div>
    </div>
</footer>
