<div class="row">
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header"> 
          <h5>User Login Page</h5>
          <!-- <h5 *ngIf="!isAddMode">Manage Book Request</h5> -->
        </div>

  <!-- Hidden Fields for update purposes no need -->

        <div class="card-body">
          <form #objForm="ngForm" (ngSubmit)="userLogin(objForm)"> 
           
            <div class="row">
              <div class="col-md-8 pr-1">
                <div class="form-group">
                  <label>Username:</label>
                  <input type="text" [(ngModel)]="uname"  name="uname" class="form-control col-12"  required>
                </div>
              </div> 
            </div>  

            <div class="row">
              <div class="col-md-8 pr-1">
                <div class="form-group">
                  <label>Password:</label>
                  <input type="text" [(ngModel)]="pwd"  name="pwd" class="form-control col-12"  required>
                </div>
              </div> 
            </div> 
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="">Log In</button>
               
              </div>
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>