<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Library Books</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">

          <div class="form-group row">
            <label for="search" class="col-sm-2 col-form-label" style="text-align: right">Filter by Title or Author</label> 
            <div class="col-sm-6">
              <input type="text" [(ngModel)]="searchBookValue" class="form-control" id="search">
            </div>
          </div>

          <table class="table">
            <thead class=" text-primary">
              <th>
                Book Title and Author
              </th>
              <th>
                Published On
              </th>
              <th>
                Borrow Book
              </th> 
            </thead>


            <tbody>

              <tr *ngFor="let book  of books_list | searchbook:searchBookValue">
                <td>
                  {{ book.title }}
                </td>
                <td>
                  {{ book.publication_date }}
                </td> 
                <td >  

                <a href="/student/book-requests" class="text-danger" (click)="requestBook(book.id)" >
                  <button>
                  Request Book
                    </button>
                </a> 
                </td>
              </tr> 

            </tbody>

          </table>



        </div>
      </div>
    </div>
  </div>
  
</div>
